main{
        width:calc(100vw - 320px);
        height: 500px;
        background-color: pink;
        // float: right;
        // display:inline-block;
        h3{
                padding: 50px;
                margin: 0;
        }
    
}