 
    <app-header (listData)="eventoutput($event)">
        <!-- <h3 >clicked list:</h3> -->
    </app-header>
    <div id="common">
        <app-aside [passingvalue]="title" [arrvalue]="arr" [objvalue]="obj" (sendData)="receivefun($event)" (carData)="carreceivefun($event)" (feedbackData)="feedbackevent($event)">
    
    
        </app-aside>
        <app-main [reasign_emtyval]="emptyvalue" [feedbackvalue]="emptyvalue">
            <!-- <app-aside1></app-aside1> -->
            <!-- <app-reactive></app-reactive> -->
           
        </app-main>
    </div>
    
    
 
 


